@import url("../ExperimentStylingCSS/josh-c-styles.css");

* {
    box-sizing: border-box;
    font-family: "Ubuntu-Sans", sans-serif;
}

button,
textarea {
    font-family: inherit;
    font-size: 100%;
    appearance: none;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form.example-content {
    width: 48%;

    border: 1px solid #000;
    border-radius: 20px;

    padding: 20px 20px;
    margin-right: 2%;
    margin-bottom: 3%;

    background-color: white;
    box-shadow: 
  rgba(0, 0, 0, 0.07) 0px 1px 1px, 
  rgba(0, 0, 0, 0.07) 0px 2px 2px, 
  rgba(0, 0, 0, 0.07) 0px 4px 4px, 
  rgba(0, 0, 0, 0.07) 0px 8px 8px, 
  rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

section {
    margin-bottom: 40px;
}

section:last-child {
    margin-bottom: 0px;
}

button {
    margin-bottom: 0px;
    padding: 5px;
    border-radius: 5px;
}

p:last-child {
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
}

fieldset + fieldset {
    margin-top: 20px;
}

/*All of the above ar basic styling concerns. Below will be custom styling elements from 
https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Styling_web_forms*/


@font-face {
    font-family: "handwriting";
    src:
        url("fonts/jounral-webfont.woff2") format("woff2"),
        url("fonts/journal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "typewriter";
    src:
        url("fonts/momt___-webfont.woff2") format("woff2"),
        url("fonts/momt___-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

fieldset {
    position: relative;
}

legend {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(64, 170, 231, 0.2);
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 1rem;
}

body {
    font: 1.3rem sans-serif;
    padding: 0.5em;
    margin: 0;
    background: #222;
}

form.postcard {
    position: relative;
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 1em; 
    box-sizing: border-box;
    background: #fff url("background.jpg");

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10em 1em 1em 1em;

    margin-bottom: 40px;

    border-radius: 20px;
}

form.postcard > h1 {
    font: 1em "typewriter", monospace;
    align-self: end;
}

#message {
    grid-row: 1 / 5;
}

#from,
#reply {
    display: flex;
}

form.postcard label {
    font: 0.8em "typewriter", sans-serif;
}

form.postcard input, form.postcard textarea {
    font: 1.4em/1.5em "handwriting", cursive, sans-serfic;
    border: none;
    padding: 0 10px;
    margin: 0;
    width: 80%;
    background: none;
}

form.postcard input:focus, 
form.postcard textarea:focus {
    background: rgb(0 0 0 / 10%);
    border-radius: 5px;
}

form.postcard textarea {
    display: block;

    padding: 10px;
    margin: 10px 0 0 -10px;
    width: 100%;
    height: 90%;

    border-right: 1px solid; 

    overflow: auto;
}

form.postcard button {
    padding: 5px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
}

form.postcard button::after {
    content: " >>>";
}

form.postcard button:hover,
form.postcard button:focus {
    background: #000;
    color: #fff;
}

input:not(input[type="range"]) {
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px #ccc;
    padding: 5px;
}

/* Don't display the X to remove input all the time */
input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
    display: none;
}

/* Style the color picker to be a bit more approachable, but not much you can do */
input[type="color"] {
    border: 0;
    padding: 0;
    box-shadow: none;
    background-color: none;
}

input[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
}

/*Style a file picker as a button so that you can make it more customized*/
label[for="file"] {
    display: inline-block;
    box-shadow: 1px 1px 3px #ccc;
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid rbg(169, 169, 169);
    border-radius: 5px;
    text-align: center;
    line-height: 1.5;
    padding: 5px;
    width: 300px;
}

label[for="file"]:hover {
    background: linear-gradient(to bottom, #fff, #ddd);
}

label[for="file"]:active {
    box-shadow: inset 1px 1px 3px #ccc;
}

/* Style the selectors in a custom way */

.custom-select select,
.custom-select ::picker(select) {
    appearance: base-select;
}

.custom-select select {
    border: 2px solid #ddd;
    background: #eee;
    padding: 10px;
    transition: 0.4s;
    width: 100%;
}

.custom-select select:hover,
.custom-select select:focus {
    background: #ddd;
}

.custom-select select::picker-icon {
    color: #999;
    transition: 0.4s rotate;
}

.custom-select select:open::picker-icon {
    rotate: 180deg;
}

.custom-select ::picker(select) {
    border:none;
}

.custom-select option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    border: 2px solid #ddd;
    background: #eee;
    padding: 10px;
    transition: 0.4s;
}

/* Add border radii to the option dropdown */
.custom-select option:first-of-type {
    border-radius: 8px 8px 0 0;
}

.custom-select option:last-of-type {
    border-radius: 0 0 8px 8px;
}

/* Remove ugly double borders between options, leave border on bottom of last one */
.custom-select option:not(option:last-of-type) {
    border-bottom: none;
}

/* Zebra striping */
.custom-select option:nth-of-type(odd) {
    background: #fff;
}

/* Add hover and focus styling for options in select box */
.custom-select option:hover,
.custom-select option:focus {
    background: plum;
}

/* Increase font size of icons inside select options */
.custom-select option .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
}

/* Remove the icon from the main bar of the select element */
.custom-select selectedcontent .icon {
    display: none;
}

/* Make the current choice bold */
.custom-select option:checked {
    font-weight: bold;
}

/* Restyle the checkbox - move it to the right of option elements */
.custom-select option::checkmark {
    order: 1;
    margin-left: auto;
    content: "☑️";
}


/* Add a transition from invisibile to visible when opening and closeing the select */
@starting-style {
    ::picker(select):popover-open {
        opacity: 0;
    }
}

.custom-select ::picker(select) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

.custom-select ::picker(select):popover-open {
    opacity: 1;
}