@import url("josh-c-styles.css");

:root {
  --dark: #00bd9d;
}

:root {
  font-size: 18px;
}

div {
  padding: 5px;
}

.parent {
  flex: 0;
  background: var(--dark);
  border-radius: .5rem;
  width: clamp(30rem, 100% - 2rem, 50rem);
  margin: auto;
}

div.parent > div {
  border-radius: 5px;
}

.child1{
  background: green;
  position: sticky;
  top: 0px;
}

.child2{
  background: red;
}

.child3{
  background: pink;
}