@import url("josh-c-styles.css");

:root {
  font-size: 18px;
}

div {
  padding: 5px;
}

.parent {
  background: blue;
}

.child1{
  background: green;
  position: sticky;
  top: 0px;
}

.child2{
  background: red;
}

.child3{
  background: pink;
}
