.grid-container {
    resize: both; /* Allow the grid container to be resized in both vertical and horizontal directions */
    overflow: auto; /* enable scrolling if we resize the container to be smaller than our grid can accomodate */
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;
    grid-template-rows: repeat(2, max(150px, 50%)); /* Use repeat function */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-item {
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}

p {
    margin: 12px auto 24px;
}

img {
    height: 60px;
}