/* @import url("../ExperimentStylingCSS/josh-c-styles.css"); */

/* :root {
    /*Variables here*/
/*} */

/* * {
    box-sizing: border-box;
    font-family: "Ubuntu-Sans", sans-serif;
} */

body {
    width: 100vh;
    height: 1000vh;
}

.container {
    width: 80%;
    height: 80%;
    border: 2px solid darkgray;
    padding: 10px;
    display: grid;
    grid-template: 150px 1fr / [start]1fr[middle]2fr[end]; 
    grid-template-areas: "top top" "side main";
}

.header {
    background-color: lightskyblue;
    grid-area: top;
    position: sticky;
    top: 0;
}

.side-bar {
    background-color: pink;
}

.main-content {
    background-color: limegreen;
} 