@import url("../ExperimentStylingCSS/josh-c-styles.css");

:root {
    /*Variables here*/
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu-Sans", sans-serif;
}

.container {
    display: grid;
    grid-template: 50px 50px / 50px 50px;

    /* Grid long-hand
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px; 
    */
}