body {
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background: yellow;
}

ul {
  list-style: none;
}

.draggable {
  background-color: pink;
  width: 5rem;
  height: 5rem;
  outline: 2px solid lightblue;
  margin: 1rem;
}

.dropzone {
  background-color: coral;
  width: 15rem;
  height: 15rem;
  content: "";
}