body {
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.trail {
    position: absolute;
    height: 20px; width: 20px;
    border-radius: 3px;
    background: teal;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background: yellow;
}

ul {
  list-style: none;
}