@import url("josh-c-styles.css");

:root {
  --dark: #00bd9d;
}

:root {
  font-size: 18px;
}

div {
  padding: 5px;
}

.parent {
  flex: 0;
  background: var(--dark);
  border-radius: .5rem;
  width: clamp(30rem, 100% - 2rem, 50rem);
  margin: auto;
}

div.parent > div {
  border-radius: 5px;
}

.child1{
  background: green;
  position: sticky;
  top: 0px;
}

.child2{
  background: red;
}

.child3{
  background: pink;
}

form input {
  margin-left: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 5px;
  border: 1px solid black;
}

div.form-entry {
  display: flex;
  align-items: center;
}

#dob {
  min-width: 50%;
}

label[for=car_model]{
  margin-right: 1ch;
}

fieldset {
  background-color: rgba(0, 0, 0, 0.02)
}

fieldset label {
  margin-left: 4px;
}

input[type=radio]{
  display:inline-block;
  box-shadow: none;
}

